@font-face {
    font-family:Raleway;
    src: url(https://fonts.googleapis.com/css?family=Raleway:300);

}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Raleway;
    background-color: hsla(0, 0%, 95%,1);
}

.title {
    margin: 90px;
    text-align: center;
    font-size: 6em;
    color: hsla(0, 0%, 9%,1);
}

h2 {
    text-align: center;
    font-size: 5em;
    margin: 20px;
    text-decoration: underline;
    color: hsla(6, 48%, 61%, 1);
}

h5 {
    text-align: center;
    font-size: 3em;
    margin: 20px;
    color: hsla(6, 48%, 61%, 1);

}

#paint {
    width: 80vw;
    height: 50vh;
    margin: 0 auto;
    background-color: hsla(0, 0%, 87%, 1);
    border: solid 2px black;
}

nav {
    background-color: hsla(6, 48%, 61%, 1);

    ul {
        display: block;
        text-align: center;
        li {
            list-style: none;
            display: inline-block;
            padding: 20px;
            a {
                text-decoration: none;
                font-size: 1.5em;
                color: hsla(0, 0%, 94%, 1);
                &:hover {
                    color: hsla(0, 0%, 100%, 1);
                }
            }
        }
    }

}
