.subBottomBar {
	height: 17px;
	width: 100%;
	background-color: #43332A;
	position:absolute;
	bottom: 0px;
	z-index: -5;
}

.subBottomBar1 {
	opacity: .4;
	height: 27px;
	bottom: 0px;
}

.subBottomBar2 {
	opacity: .2;
	height: 37px;
	bottom: 0px;
}

.castMember {
	width: 150px;
	height: 125px;
	/*border:solid 1px #000;*/
	float: left;
	margin-top:15px;
	box-sizing: border-box;
}

.cast {
	width: 600px;
	margin: 0 auto;
	/*border:solid 1px #000;*/
	position:relative;
	top: 30px;
}

.headerContainer {
	text-align: center;
}
