.subBottomBar {
	height: 17px;
	width: 100%;
	background-color: #43332A;
	position:absolute;
	bottom: 0px;
	z-index: -5;
}

.subBottomBar1 {
	opacity: .4;
	height: 27px;
	bottom: 0px;
}

.subBottomBar2 {
	opacity: .2;
	height: 37px;
	bottom: 0px;
}

.castMember {
	width: 150px;
	height: 125px;
	/*border:solid 1px #000;*/
	float: left;
	margin-top:15px;
	box-sizing: border-box;
}

.cast {
	width: 600px;
	margin: 0 auto;
	/*border:solid 1px #000;*/
	position:relative;
	top: 30px;
}

.headerContainer {
	text-align: center;
}

.summary {
	/*border:solid 1px black;*/
	margin:0 auto;
	position:relative;
	width: 600px;
	top: 25px;
	color: white;
	p {

	}
	h1 {
		text-align: center;
	}
}

.videoContainer {
	position:relative;
	top: 50px;
	text-align: center;
}

.downloadContainer {
	color:white;
	text-align: center;
	h2 {
		font-size: 48px;
	}
	h2:last-child {
		position: relative;
		top: -45px;

	}
}

#texty {
	color: #43332A;
}

#angry {
	color: #EDD54A;
}

.downloadButton {
	background-color: #EDD54A;
	display:inline-block;
	padding: 10px 20px;
	border-radius: 10px;
	color: #43332A;
}

.imagesContainer {
	margin:0 auto;
	text-align: center;
	width: 340px;
	position:relative;
	top: 30px;
}

.imageBox {
	width: 150px;
	height: 150px;
	float:left;
	margin: 10px;
}

.galleryImage {
	max-width: 150px;
	width: auto;
	max-height: 150px;
	height:auto;
}
