@font-face {
  font-family: AllerBd;
  src: url("../fonts/Aller_Bd.ttf"); }
@font-face {
  font-family: AllerRg;
  src: url("../fonts/Aller_Rg.ttf"); }
body {
  padding: 0;
  margin: 0;
  font-family: AllerBd;
  color: #2e3538; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0; }

.container {
  max-width: 768px;
  margin: 0 auto; }

header {
  background-image: url("../images/top-blue.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  position: relative; }
  header nav {
    background-color: rgba(29, 28, 53, 0.67);
    text-align: center;
    position: relative; }
    header nav .hamburger_icon {
      background-image: url("../images/hamb.svg");
      width: 50px;
      height: 50px; }
    header nav .hamburger_menu {
      z-index: 1;
      list-style: none;
      position: absolute;
      width: 100%;
      top: 38px;
      display: none; }
      header nav .hamburger_menu li {
        height: 50px;
        line-height: 50px;
        background-color: rgba(29, 28, 53, 0.67);
        position: relative;
        left: -40px; }
        header nav .hamburger_menu li a {
          text-decoration: none;
          color: white; }
        header nav .hamburger_menu li:hover {
          background-color: rgba(29, 28, 53, 0.8);
          display: block; }
    header nav:hover ul {
      display: block; }
  header .hello {
    text-align: center;
    position: relative;
    top: 35px; }
    header .hello h1 {
      margin: 0 auto;
      display: inline-block;
      color: white;
      font-size: 5vw; }
    header .hello .camera_icon {
      background-image: url("../images/hamb.svg");
      position: relative;
      right: 9%;
      width: 50px;
      height: 50px; }
  header .header_content {
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0px; }
    header .header_content .header_left {
      font-family: AllerRg;
      position: relative;
      width: 65%;
      height: 100%;
      float: left; }
      header .header_content .header_left .header_content_container {
        position: absolute;
        bottom: 10%;
        width: 100%;
        margin: auto 0; }
        header .header_content .header_left .header_content_container p {
          color: white;
          padding: 0 7%;
          margin: 0; }
        header .header_content .header_left .header_content_container .p2 {
          margin: -8px 0 -15px 0; }
        header .header_content .header_left .header_content_container .p3 {
          margin: -5px 0; }
    header .header_content .header_right {
      float: right;
      width: 35%;
      height: 100%;
      position: relative; }
      header .header_content .header_right .dual_phones {
        max-width: 90%;
        max-height: 90%;
        position: absolute;
        bottom: 0px;
        right: 0px; }

.app {
  background-color: #1d1c35;
  color: white;
  position: relative; }
  .app .app_heading {
    position: relative;
    font-family: AllerRg;
    width: 70%;
    margin: auto;
    height: auto;
    text-align: center;
    overflow: auto; }
    .app .app_heading .app_header_container h2 {
      margin: 20px 0;
      font-size: 1.75em; }
  .app .download_button {
    background-color: #72a329;
    text-transform: uppercase;
    border-radius: 5px;
    position: relative;
    margin: auto;
    width: 50%;
    height: 80px;
    line-height: 80px;
    text-align: center; }
  .app .download_locations {
    margin: 20px auto;
    width: 50%;
    height: 100px; }
    .app .download_locations .app_store {
      float: left;
      box-sizing: border-box;
      width: 50%;
      vertical-align: middle; }
      .app .download_locations .app_store .apple_image {
        width: 100%; }
    .app .download_locations .play_store {
      float: right;
      box-sizing: border-box;
      width: 50%; }
      .app .download_locations .play_store .google_image {
        width: 100%; }

.about {
  border-bottom: 1px solid HSLA(204, 5%, 80%, 1);
  overflow: auto; }
  .about .about_us_header {
    margin: 20px 0;
    width: 100%;
    text-align: center; }
    .about .about_us_header .about_us {
      font-size: 2.5em; }
  .about .about_us_content {
    font-family: AllerRg;
    height: 300px; }
    .about .about_us_content .about_us_content_left {
      width: 60%;
      float: left;
      max-height: 100%;
      position: relative; }
      .about .about_us_content .about_us_content_left p {
        margin: -5px 10px 0;
        line-height: 35px;
        font-size: 1.2em; }
      .about .about_us_content .about_us_content_left .ellipses {
        display: block;
        margin: 0 auto; }
    .about .about_us_content .about_us_content_right {
      width: 40%;
      height: 100%;
      float: right;
      position: relative;
      background-image: url("../images/single_phone.png");
      background-position: 100% 0;
      background-size: 80%;
      background-repeat: no-repeat; }

.feature {
  overflow: auto; }
  .feature .feature_toggle_container {
    padding: 30px; }
    .feature .feature_toggle_container .feature_button_wrapper {
      border: 1px solid HSLA(204, 5%, 80%, 1);
      border-radius: 5px; }
      .feature .feature_toggle_container .feature_button_wrapper .feature_button {
        font-family: AllerRg;
        float: left;
        border-right: 1px solid HSLA(204, 5%, 80%, 1);
        width: 33%;
        height: 70px;
        font-size: 1.5em;
        text-align: center;
        line-height: 70px;
        color: HSLA(204, 5%, 80%, 1); }
        .feature .feature_toggle_container .feature_button_wrapper .feature_button:first-of-type {
          color: white;
          background-color: HSLA(204, 5%, 80%, 1); }
        .feature .feature_toggle_container .feature_button_wrapper .feature_button:last-of-type {
          border: none; }
  .feature .feature_main {
    position: relative;
    background-image: url("../images/Macro photo.png");
    background-size: cover;
    background-position: 50% 0;
    height: 400px;
    color: white; }
    .feature .feature_main .feature_label {
      background-color: rgba(29, 28, 53, 0.67);
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      overflow: auto; }
      .feature .feature_main .feature_label .feature_label_wrapper {
        width: 70%;
        margin: auto; }
        .feature .feature_main .feature_label .feature_label_wrapper h1 {
          font-size: 2.5em; }
        .feature .feature_main .feature_label .feature_label_wrapper p {
          font-family: AllerRg;
          font-size: 1.75em; }

.contact {
  overflow: auto; }
  .contact .contact_content_wrapper {
    margin: 0 40px;
    font-family: AllerRg; }
    .contact .contact_content_wrapper p {
      line-height: 25px; }
    .contact .contact_content_wrapper .contact_header {
      margin: 20px 0;
      width: 100%;
      text-align: center; }
      .contact .contact_content_wrapper .contact_header .contact_header_text {
        font-size: 2.5em; }
    .contact .contact_content_wrapper .profile {
      margin: 40px 0; }
    .contact .contact_content_wrapper .bryan .bryan_left {
      width: 40%;
      box-sizing: border-box;
      float: left; }
    .contact .contact_content_wrapper .bryan .bryan_right {
      margin-left: 40%;
      box-sizing: border-box; }
      .contact .contact_content_wrapper .bryan .bryan_right h1 {
        margin: 0; }
    .contact .contact_content_wrapper .line {
      border-top: solid 1px HSLA(204, 5%, 80%, 1); }
    .contact .contact_content_wrapper .sarah .sarah_left {
      width: 40%;
      box-sizing: border-box;
      float: left; }
    .contact .contact_content_wrapper .sarah .sarah_right {
      margin-left: 40%;
      box-sizing: border-box; }
      .contact .contact_content_wrapper .sarah .sarah_right h1 {
        margin: 0; }

footer {
  font-family: AllerRg;
  text-align: center;
  border-top: 1px solid HSLA(204, 5%, 80%, 1);
  overflow: auto; }
  footer .copy_right_info {
    font-size: 1.75em;
    margin: 15px; }
  footer .footer_links {
    color: HSLA(204, 5%, 80%, 1);
    margin-bottom: 15px; }
  footer .social {
    color: HSLA(204, 5%, 80%, 1);
    margin-bottom: 15px; }

/*# sourceMappingURL=style.css.map */
