$accent-blue-hue: 242;
$accent-blue-saturation: 31%;
$accent-blue-lightness: 16%;
$accent-blue-alpha: 67%;

$accent-blue: hsla($accent-blue-hue, $accent-blue-saturation, $accent-blue-lightness, $accent-blue-alpha);
$rgba-blue: rgba($accent-blue, .67);
$accent-grey: HSLA(204, 5%, 80%, 1);

@font-face {
	font-family: AllerBd;
	src: url("../fonts/Aller_Bd.ttf");
}

@font-face {
	font-family: AllerRg;
	src: url("../fonts/Aller_Rg.ttf");
}

body {
	padding: 0;
	margin: 0;
	font-family: AllerBd;
	color: hsla(197, 10%, 20%, 1);
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size:0;
	content: "";
	clear: both;
	height: 0;
}

.container{
	// border: 1px solid #000;
	max-width: 768px;
	margin: 0 auto;

}

header {
	background-image: url('../images/top-blue.png');
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	position: relative;
	// border: 1px solid yellow;
	nav {
		background-color: $rgba-blue;
		text-align: center;
		position: relative;


		.hamburger_icon {
			background-image: url('../images/hamb.svg');
			width: 50px;
			height: 50px;
		}

		.hamburger_menu { // this is a ul element
			// border: 1px solid #000;
			z-index: 1;
			list-style: none;
			position: absolute;
			width: 100%;
			top: 38px;
			display: none;

			li {
				// border: 1px solid red;
				height: 50px;
				line-height: 50px;
				background-color: $rgba-blue;
				position: relative;
				left: -40px;
				a {
					text-decoration: none;
					color: white;
				}
				&:hover {
					background-color: rgba($accent-blue, .8);
					display: block;
				}
			}
		}

		&:hover ul{
			display: block;
		}

	}
	.hello {
		text-align: center;
		// width: 50%;
		position: relative;
		top:35px;
		// border: 1px solid red;
		h1 {
			// position: absolute;
			margin: 0 auto;
			display: inline-block;
			// width: 100%;
			// height: 100%;
			color: white;
			font-size: 5vw;

		}
		.camera_icon {
			background-image: url('../images/hamb.svg');
			position: relative;
			right: 9%;
			width: 50px;
			height: 50px;
		}


	}
	.header_content {
		width: 100%;
		height: 50%;
		// border: 1px solid blue;
		position: absolute;
		bottom: 0px;


		.header_left {
			font-family: AllerRg;
			// background-color: $rgba-blue;
			position: relative;
			width: 65%;
			height: 100%;
			float: left;

			.header_content_container {
				// border: 1px solid white;
				position: absolute;
				bottom: 10%;
				width: 100%;
				margin: auto 0;


				p {
					color: white;
					padding: 0 7%;
					margin: 0;
					// font-size: 1.75em;
				}

				.p1 {

				}

				.p2 {
					// font-size: 2.75em;
					margin:-8px 0 -15px 0;
				}

				.p3 {
					// font-size: 2.75em;
					margin:-5px 0;
				}

				.p4	{

				}

			}

		}

		.header_right {
			float: right;
			// background-color: $rgba-blue;
			width: 35%;
			height: 100%;
			position: relative;
			.dual_phones {
				max-width: 90%;
				max-height: 90%;
				position: absolute;
				bottom: 0px;
				right: 0px;

			}
		}
	}
}

.app {
	background-color: $accent-blue;
	color:white;
	position: relative;

	.app_heading {
		position: relative;
		font-family: AllerRg;
		width:70%;
		margin:auto;
		height: auto;
		// border: 1px solid white;
		text-align: center;
		overflow: auto;
		// padding-top: 10%;

		.app_header_container {
			// border: 1px solid $accent-blue;
			// height: 200px;

			h2 {
				margin: 20px 0;
				font-size: 1.75em;
				// vertical-align: middle;
			}
		}
	}

	.download_button {
		background-color: hsla(84, 60%, 40%, 1);
		text-transform: uppercase;
		border-radius: 5px;
		position: relative;
		margin: auto;
		width: 50%;
		height: 80px;
		line-height: 80px;
		text-align: center;
	}

	.download_locations {
		// border: 1px solid white;
		margin: 20px auto;
		width:50%;
		height: 100px;


		.app_store {
			float: left;
			// border: 1px solid red;
			box-sizing: border-box;
			width:50%;
			vertical-align: middle;
			.apple_image {
				width:100%;

			}

		}
		.play_store {
			float:right;
			// border: 1px solid green;
			box-sizing: border-box;
			width:50%;
			.google_image {
				width:100%;
			}

		}
	}


}

.about {
	border-bottom: 1px solid $accent-grey;
	// background-color: #ddd;
	overflow: auto;
	.about_us_header {
		// border: 1px solid #000;
		margin: 20px 0;
		width: 100%;
		text-align: center;
		.about_us {
			font-size: 2.5em;
		}

	}

	.about_us_content {
		font-family: AllerRg;
		height: 300px;

		.about_us_content_left {
			width: 60%;
			float: left;
			max-height: 100%;
			position: relative;
			// background-color: #aaa;
			p {
				margin: -5px 10px 0;
				line-height: 35px;
				font-size: 1.2em;
			}

			.ellipses {
				display: block;
				margin: 0 auto;
				// text-align: center;
			}
		}

		.about_us_content_right {
			width: 40%;
			height: 100%;
			float: right;
			// max-height: 100%;
			// background-color: #888;
			position: relative;
			background-image: url("../images/single_phone.png");
			background-position: 100% 0;
			background-size: 80%;
			background-repeat: no-repeat;

			.single_phone {
				// background-image: url("../images/single_phone.png");
				// position: absolute;
				// top:0;
				// right:0;
				// max-width: 90%;
				// max-height: 100%;
			}
		}
	}
}

.feature {
	overflow: auto;

	.feature_toggle_container {
		// display: inline-block;
		padding: 30px;
		.feature_button_wrapper {
			border: 1px solid $accent-grey;
			border-radius: 5px;

			.feature_button {
				font-family: AllerRg;
				float: left;
				border-right: 1px solid $accent-grey;
				width: 33%;
				height: 70px;
				font-size: 1.5em;
				text-align: center;
				line-height: 70px;
				color: $accent-grey;
				&:first-of-type {
					color: white;
					background-color: $accent-grey;
				}

				&:last-of-type {
					border: none;
				}
			}
		}
	}

	.feature_main {
		position: relative;
		background-image: url("../images/Macro photo.png");
		background-size:cover;
		background-position: 50% 0;
		height: 400px;
		color: white;


			.feature_label {
				// height: 40%;
				background-color: $rgba-blue;
				position: relative;
				top: 50%;
				transform: translateY(-50%);
				text-align: center;
				overflow: auto;
				.feature_label_wrapper {
					width: 70%;
					margin: auto;
					// border: 1px solid red;

					h1 {
						font-size: 2.5em;

					}

					p {
						font-family: AllerRg;
						font-size: 1.75em;
					}
				}

			}
	}
}

.contact {
	overflow: auto;
	& p {
		// font-size: .9em;
	}

	.contact_content_wrapper {
		margin: 0 40px;
		font-family: AllerRg;
		& p {
			line-height: 25px;
		}
		.contact_header {
			// border: 1px solid #000;
			margin: 20px 0;
			width: 100%;
			text-align: center;
			.contact_header_text {
				font-size: 2.5em;
			}

		}

		.profile {
			// text-align: center;
			// border: 1px solid #000;
			margin: 40px 0;


			h1 {
				// font-size: 2.5em;
			}

			p {
				// font-size: .9em;
			}




		}

		.bryan {
			// border-bottom: solid 1px $accent-grey;

			.bryan_left {
				width: 40%;
				box-sizing: border-box;
				// border: 1px solid red;
				float: left;
				img {

				}
			}

			.bryan_right {
				margin-left: 40%;
				box-sizing: border-box;
				// border: 1px solid red;
				// float: right;

				h1 {
					margin: 0;
				}

				p {

				}

			}

		}

		.line {
			border-top: solid 1px $accent-grey
		}

		.sarah {
			.sarah_left {
				width: 40%;
				box-sizing: border-box;
				// border: 1px solid red;
				float: left;
				img {

				}

			}

			.sarah_right {
				margin-left: 40%;
				box-sizing: border-box;
				// border: 1px solid red;
				// float: right;

				h1 {
					margin: 0;
				}

				p {

				}

			}
		}
	}
}

footer {
	font-family: AllerRg;
	text-align: center;
	border-top: 1px solid $accent-grey;
	overflow: auto;
	// line-height: 25px;
	.copy_right_info {
		font-size: 1.75em;
		margin: 15px;
	}
	.footer_links {
		color: $accent-grey;
		margin-bottom: 15px;

	}

	.social {
		color: $accent-grey;
		margin-bottom: 15px;

	}
}
